<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>category</key>
		<string>Others</string>
		<key>color</key>
		<integer>0</integer>
		<key>categoryID</key>
		<string>1</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Food</string>
		<key>color</key>
		<integer>1</integer>
		<key>categoryID</key>
		<string>2</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Shopping</string>
		<key>color</key>
		<integer>2</integer>
		<key>categoryID</key>
		<string>3</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Stationary</string>
		<key>color</key>
		<integer>3</integer>
		<key>categoryID</key>
		<string>4</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Transportation</string>
		<key>color</key>
		<integer>4</integer>
		<key>categoryID</key>
		<string>5</string>
	</dict>
	<dict>
		<key>category</key>
		<string>Health</string>
		<key>color</key>
		<integer>5</integer>
		<key>categoryID</key>
		<string>6</string>
	</dict>
</array>
</plist>
